.About {
  font-family: "Lato", sans-serif;
}
.About h2 {
  font-family: "Noto Serif", serif;
}
.about-content:after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #000;
  right: -200px;
  top: 0;
  height: 200px;
}
.alwaysfresh::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #000;
  bottom: 0;
  left: -200px;
  width: 500px;
}
